/* Here start CSS */
body {
  font-family: 'Spinnaker', sans-serif;
  font-size: ;
}

/* All elements with this class have flex */
.flex-container {
  display: flex;
}

.justify-content-space-between {
  justify-content: space-between;
}

/* Navbar style */

nav {

}

.navbar-items {
  margin: 5px;
  width: 150px;
  height: 150px;
  color: white;
  font-size: 20px;
}

.justify-center {
  align-items: center;
  justify-content: center;
}

/* Header in main */
main {
  flex-direction: column;
  width: 100%;
}

h1 {
  width: 400px;
  text-align: center;
  font-size: 1.875em;
  margin: 0 35%;
}

h2 {
  font-size: calc(1.375rem + 1.6vw);
  line-height: 1.2;
  margin: 0.5em 0 0.25em 0;
}

form {
  background-color: ;
}
/* Different class of articles in main */
.feature-article {
  width: 100%;
  flex-wrap: wrap;
}

.div-feature {
  width: 49%;
  border: solid #e2e2e2;
}

.div-feature figure,
h2 {
  margin: 15px 10% 15px 10%;
}

/*Style in author name section */
.authors-photo {
  box-sizing: border-box;
  width: 72px;
  height: 72px;
  border: 5px solid #fff;
}

.author-name {
  font-size: calc(.35842vw + .95296em);
  text-shadow: 1px 1px 1px 1px #fff;
}

.wrotes {
  font-style: italic;
}

/* Footer style */
footer {
  background-color: #ddd;
}

.browse-list {
}

.contact-info {
}

/* Comment section */

.comment {
  margin: 1px 10%;
}

.square-comment {
  box-sizing: border-box;
  height: 32px;
  width: 32px;
  border: solid #fff;
}

.hashtag {
  margin: 0 10% 40px 10%;
}
/* grayscale */
.first-level-color {
  background-color: #444444;
}

.second-level-color {
  background-color: #777777;
}

.third-level-color {
  background-color: #aaaaaa;
}

.fourth-level-color {
  background-color: #dddddd;
}
/* grayscale */
